---
import { Image } from "astro:assets";
import images from "./Images.js";
---

<script src={`js/slideshow.js`} type="application/javascript"></script>

<div class="slideshow">
  {
    images.map(img => (
      <Image
        src={img}
        height="600"
        alt="Art by Maggie Borger"
        onload="addToSlideShow(this)"
        class="slideshow__image"
        loading="eager"
        decoding="async"
      />
    ))
  }
</div>

<style>
  .slideshow {
    display: grid;
  }

  .slideshow__image {
    grid-area: 1/1;
    opacity: 0;
    justify-self: center;
  }
</style>
