---
import { Image } from "astro:assets";
import images from "./Images.js";
---

<script src={`js/slideshow.js`} type="text/javascript"></script>

<div class="slideshow">
  {
    images.map(img => (
      <Image
        src={img}
        height="600"
        alt="Art by Maggie Borger"
        onload="slide(this)"
        class="slider-img"
      />
    ))
  }
</div>

<style>
  .slideshow {
    position: relative;
    height: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  img {
    position: absolute;
    opacity: 0;
  }
  @media (max-width: 636px) {
    .slideshow {
      height: 450px;
    }
  }
</style>
